body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #0066ff 0%, #ff6f01 100%);
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  display: grid;
  place-content: center;
}

.forms {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.forms label {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.forms input,
.forms select {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.forms input[type="button"] {
  width: 100%;
  font-weight: 500;
  background: black;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.forms input[type="button"]:hover {
  background: #00388d;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: #fff;
}

h2 {
  display: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff6f01 0%,#0066ff  100%);
  padding: 10px 15px;
  margin-top: 1rem;
}
h2 p {
  margin-bottom: 0.2rem;
}
.tab-content {
  padding-top: 1rem;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link {
  color: black;
  border: none;
    border-radius: 0.25rem;
}
.nav-tabs .nav-link:hover {
  background-color: #e4e4e4;
}
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: black;
  border: none;
}
